.form-main-large {
    padding: 8px 8px 12px;
    width: 200px;
    height: 318px;
    background: #FFFFFF;
    /* border: 2px solid #295DA1; */
    box-sizing: border-box;
    box-shadow: 0px 1.98462px 3.96925px rgba(0, 0, 0, 0.15), inset 0px 0px 1.98462px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.form-main-small {
    padding: 8px 8px 12px;
    width: 200px;
    height: 204px;
    background: #FFFFFF;
    /* border: 2px solid #295DA1; */
    box-sizing: border-box;
    box-shadow: 0px 1.98462px 3.96925px rgba(0, 0, 0, 0.15), inset 0px 0px 1.98462px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}