/* Common */
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inherit;
    text-align: left;
}

/* Large Card */
.card-large {
    width: 240px;
    height: 85px;
    background: #212122;
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.15), inset 0px 0px 1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 8px;
    display: flex;
}

.card-pic-large {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.card-content-large {
    width: 174px;
    height: 50px;
    padding: 8px;
    color: white;
}

.card-name-large {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #FFFFFF;
}

.card-birth-time-large,
.card-time-period-large {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.card-img-large {
    border-radius: 8px;
}

.card-location-large {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 12px;
}

/* Medium Card */
.card-medium {
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), inset 0px 0px 1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
}

.card-pic-medium {
    width: 50px;
    height: 50px;
}

.card-content-medium {
    width: 150px;
    height: 50px;
    padding: 8px;
}

.card-name-medium {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #000000;
}

.card-time-period-medium {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #000000;
}

/* Small Card */
.card-small {
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), inset 0px 0px 1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.card-content-small {
    text-align: left;
    padding: 8px 16px;
}

.card-name-small {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #000000;
}

.card-time-period-small {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #000000;
}

/* Tiny Card */
.card-tiny {
    width: 200px;
    height: 24px;
    background: #FAFAFA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), inset 0px 0px 1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.card-name-tiny {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    color: #000000;
    padding: 0px 16px;
}