.dropdown-filter{
    width: 144px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    background: #FFFFFF !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;
    border-radius: 6px !important;
}